<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>多功能计算器</title>
    <link rel="stylesheet" href="/static/css/calculator.css" />
</head>
<body>
    <h1>多功能计算器</h1>
    <a href="/tools"><img src="/static/images/back.png"  width="32" alt="logo" /></a>
    <div class="calculator">
        <input type="text" id="display" class="display" disabled>
        <div>
            <button class="button" onclick="clearDisplay()">C</button>
            <button class="button" onclick="appendToDisplay('(')">(</button>
            <button class="button" onclick="appendToDisplay(')')">)</button>
            <button class="button" onclick="appendToDisplay('/')">/</button>
        </div>
        <div>
            <button class="button" onclick="appendToDisplay('7')">7</button>
            <button class="button" onclick="appendToDisplay('8')">8</button>
            <button class="button" onclick="appendToDisplay('9')">9</button>
            <button class="button" onclick="appendToDisplay('*')">*</button>
        </div>
        <div>
            <button class="button" onclick="appendToDisplay('4')">4</button>
            <button class="button" onclick="appendToDisplay('5')">5</button>
            <button class="button" onclick="appendToDisplay('6')">6</button>
            <button class="button" onclick="appendToDisplay('-')">-</button>
        </div>
        <div>
            <button class="button" onclick="appendToDisplay('1')">1</button>
            <button class="button" onclick="appendToDisplay('2')">2</button>
            <button class="button" onclick="appendToDisplay('3')">3</button>
            <button class="button" onclick="appendToDisplay('+')">+</button>
        </div>
        <div>
            <button class="button" onclick="appendToDisplay('0')">0</button>
            <button class="button" onclick="appendToDisplay('.')">.</button>
            <button class="button" onclick="calculateResult()">=</button>
        </div>
    </div>
    <a href="/">返回首页</a>

    <scrip src="/static/js/calculator.js"></script>
</body>
</html>