<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8" />
        <title>日常</title>
        <link rel="stylesheet" href="/static/css/daily.css" />
    </head>
    <body>
        <a href="/"><img src="/static/images/back.png"  width="32" alt="logo" /></a>
        <div class="container">
            <h1>日常</h1>
            <p>这里是一些日常记录。</p>
            <ul>
                <!-- 示例：<li>2024-12-20: 今天天气不错，心情很好。</li> -->
                <li>2024-12-20: 成功在同学的怂恿下建立了自己的网站，虽然很简陋，但是还是很有成就感的。顺便说一句，这是同学的网站：<a href="https://xhdndmm.cn"> xhdndmm.cn </a></li>
            </ul>
        </div>
        <script src="/static/js/daily.js"></script>
    </body>
</html>
