<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>五子棋</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    </head>
    <body>
        <h1>五子棋</h1>
        <div id="current-turn">当前回合: 玩家1</div>
        <div id="scores" style="position: absolute; top: 10px; right: 10px">玩家1: 0, 玩家2: 0</div>
        <div id="board"></div>
        <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='js/gomoku.js') }}"></script>
    </body>
</html>
