<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="资源77提供科技感背景示例，包括背景1、背景2、背景3等，方便快捷。">
    <title>科技感背景</title>
    <link rel="stylesheet" href="/static/css/ground2.css">
</head>
<body>
    <h1>科技感背景2</h1>
    <a href="/"><img src="/static/images/home_w.png" alt="logo" /></a>
    <a href="/ground"><img src="/static/images/back.png" alt="logo" /></a>
    <a href="https://file.ziyuan77.com/d/home/ziyuan77/ground2.js?sign=y2K2vEr8SSrK5IV4maVbejetq4RTUNhxoVjgN7SuCGM=:0" target="_blank">下载</a>
    <canvas id="ground1Canvas" width="100%" height="100%"></canvas>
    <script src="/static/js/ground2.js"></script>
</body>
</html>