<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="科技感背景示例">
    <title>科技感背景</title>
    <link rel="stylesheet" href="/static/css/ground1.css">
</head>
<body>
    <h1>科技感背景1</h1>
    <a href="/"><img src="/static/images/home_w.png" alt="logo" /></a>
    <a href="/ground"><img src="/static/images/back.png" alt="logo" /></a>
    <a href="https://file.ziyuan77.com/d/home/ziyuan77/ground1.js?sign=JcrW9qsz0Us7ovPsXRma_76-jvPnik9VN5-tDEy_4C0=:0" target="_blank">下载</a>
    <canvas id="ground1Canvas" width="100%" height="100%"></canvas>
    <script src="/static/js/ground1.js"></script>
</body>
</html>