<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>安全密码生成器</title>
    <link rel="stylesheet" href="/static/css/password.css">
</head>
<body>
    <h1>安全密码生成器</h1>
    <a href="/"> 返回首页 </a>
    <canvas id="clockCanvas" width="200" height="200"></canvas>
    <div id="currentTime"></div>
    <form id="passwordForm" method="post" action="/password">
        密码长度：<label for="length">密码长度:</label>
        <input type="number" id="length" name="length" min="8" max="32" value="16">
        <br>
        含有数字？<select id="num" name="num">
            <option value="true" selected>是</option>
            <option value="false">否</option>
        </select>
        <br>
        含有字母？<select id="letter" name="letter">
            <option value="true" selected>是</option>
            <option value="false">否</option>
        </select>
        <br>
        含有符号？<select id="symbol" name="symbol">
            <option value="true">是</option>
            <option value="false" selected>否</option>
        </select>
        <br>
        必须包含的字符：<input type="text" id="requiredChars" name="requiredChars" placeholder="例如: @#1a">
        <br>
        <button type="submit">生成密码</button>
    </form>

    <div id="passwordDisplay">
        <!-- 这里将显示生成的密码 -->
    </div>
    <script src="/static/js/password.js"></script>
</body>
</html>