<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="资源77提供项目页面，包括自建的资源站、一些自己写的文档、一些科技感背景等，方便快捷。">
        <title>项目</title>
        <link rel="stylesheet" href="/static/css/project.css" />
    </head>
    <body>
        <a href="/"><img src="/static/images/back.png" alt="logo" /></a>
        <div class="container">
            <h1>项目</h1>
            <p>这里是一些项目。</p>
            <ul>
                <p>自建的资源站，提供各种资源，但速度较慢</p>
                <a href="https://file.ziyuan77.com" target="_blank"> 资源站 </a>
            </ul>
            <ul>
                <p>一些自己写的文档</p>
                <a href="/text"> 文档 </a>
            </ul>
            <ul>
                <p>一些科技感背景</p>
                <a href="/ground"> 科技感背景 </a>
            </ul>
            <ul>
                <p>和别人搞的聊天室</p>
                <a href="/github_chat"> github下载（最新） </a>
            </ul>
            <ul>
                <p>五子棋</p>
                <a href="/gomoku"> 五子棋 </a>
            </ul>
            <ul>
                <p>下载器</p>
                <a href="/github_miaobox"> 下载器 </a>
            </ul>
        </div>
        <script src="/static/js/project.js"></script>
    </body>
</html>
