<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8" />
        <title>文档</title>
        <link rel="stylesheet" href="/static/css/project.css" />
    </head>
    <body>
        <a href="/"><img src="/static/images/home.png" alt="logo" /></a>
        <a href="/projects"><img src="/static/images/back.png" alt="logo" /></a>
        <div class="container">
            <h1>文档</h1>
            <p>这里是一些文档。</p>
            <ul>
                <p>ssh 命令介绍</p>
                <a href="/ssh_commands"> ssh 命令 </a>
            </ul>
            <ul>
                <p>一些常用的控制台命令</p>
                <a href="/cmd_commands"> 控制台命令 </a>
            </ul>
            <ul>
                <p>一个建站教程</p>
                <a href="/web"> 建站教程 </a>
            </ul>
            <ul>
                <p>Windows 11 安装教程</p>
                <a href="/win11"> Windows 11 安装教程 </a>
            </ul>
        </div>
    </body>
</html>
