<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="资源77提供加载中页面，方便快捷。">
    <title>加载中...</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/transition.css') }}">
</head>
<body>
    <div class="transition-container">
        <div class="loading-circle"></div>
        <div class="loading-text">
            <span>加</span>
            <span>载</span>
            <span>中</span>
            <span>.</span>
            <span>.</span>
            <span>.</span>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/transition.js') }}"></script>
</body>
</html> 