<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>网站更新日志</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/update.css') }}">
</head>
<body>
    <div class="update-container">
        <h1>网站更新日志</h1>
        <ul>
            <li data-date="2025-01-11">
                <div class="update-content">
                    增加了大量工具
                    <div class="video-links">
                        <a href="https://file.ziyuan77.com/网站更新/1月11日网站更新.mov">资源站视频</a>
                        <a href="https://www.bilibili.com/video/BV1uKc4emEKk/">B站视频</a>
                    </div>
                </div>
            </li>
            <li data-date="2025-01-10">
                <div class="update-content">
                    增加了大量工具
                    <div class="video-links">
                        <a href="https://file.ziyuan77.com/网站更新/1.10网站大改，8分钟加速版.mov">资源站视频</a>
                        <a href="https://www.bilibili.com/video/BV12BcnehE9o/">B站视频</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>